
/* generic  */

/* special  */
.login-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
}


.header {
    background-color: #2F8465;
    border-bottom: 1px solid #afafaf;
    padding: 0.75em 0 0.75em 0;
    color: white;
    font-weight: bold;
}


.header a {
    color: white;
}

.sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid #0f0f0f;
}

.content {
    background-color: #f3f3f3;
}


.mx-1 {
    margin-left: .75rem;
    margin-right: .75rem;
}

.my-1 {
    margin-top: .75rem;
    margin-bottom: .75rem;
}
